<div class="rounded-outline">
    <div class="content">
        <h2>Page Error</h2>
        {{#if errorMsg}}
        <p class="text-muted">{{{errorMsg}}}</p>
        {{else}}
        <p class="text-muted">There was an error displaying this admin page.</p>
        {{/if}}
    </div>
</div>