<div class="admin-buttons">
    <a href="/admin?action=changepw" class="btn btn-primary btn-lg">Change Password</a>
    <a href="/admin?action=adduser" class="btn btn-primary btn-lg hidden">Add User</a>
    <a href="/admin?action=modifyuser" class="btn btn-primary btn-lg hidden">Modify User</a>
    <a href="/admin?action=deletestaff" class="btn btn-primary btn-lg hidden">Delete Staff</a>
</div>