<div class="date">
    <label for="date">Enter the shift date:</label>
    <input type="date" id="date" class="shift__date" min="2000-01-01" max="{{today}}" value="{{today}}" placeholder="YYYY-MM-DD">
</div>
<div class="btn-group btn-group-toggle" data-toggle="buttons">
    <label class="btn btn-secondary {{#if dayOrNight}}{{#ifMatch dayOrNight 'D'}}active{{/ifMatch}}{{else}}active{{/if}}">
        <input class="shift__day-or-night" type="radio" value="D" autocomplete="off"> Day
    </label>
    <label class="btn btn-secondary {{#if dayOrNight}}{{#ifMatch dayOrNight 'N'}}active{{/ifMatch}}{{/if}}">
        <input class="shift__day-or-night" type="radio" value="N" autocomplete="off"> Night
    </label>
</div>