<div class="date">
    <label for="date">Enter the shift date:</label>
    <input type="date" id="date" class="shift__date" min="2000-01-01" max="{{printFullInlineDate}}" value="{{printFullInlineDate}}" placeholder="YYYY-MM-DD">
</div> 