<div class="title rounded-outline">
    <h2>Shift Reports</h2>
    <h5 class="text-muted mt-1 mb-1">{{subtitle}}</h5>
</div>
<div class="report-container rounded-outline">
    <h6 class="text-muted">{{context}}</h6>
    {{#if whichReportPartial}}
        {{> (lookup . 'whichReportPartial')}}
    {{else}}
        <div class="main-loader mb-2">
            <span class="main-spinner">
                <i class="fas fa-spinner fa-pulse"></i>
            </span>
        </div>
    {{/if}}
</div>

<div class="control-container rounded-outline">
    <button id="prevBtn" class="btn btn-lg btn-primary" {{#iffalse prev}}disabled{{/iffalse}}>Previous</button>
    <button id="nextBtn" class="btn btn-lg btn-primary" {{#iffalse next}}disabled{{/iffalse}}>Next</button>
</div>
{{debug}}