<div class="title rounded-outline">
    <h2>Shift Reports</h2>
    <h4 class="text-muted">{{subtitle}}</h4>
</div>

<div class="report-container rounded-container">
    {{#if whichReport}}
        {{> (lookup . 'whichReport')}}
    {{else}}
        
    {{/if}}
</div>