.add-container {
    transition: height 250ms ease-in-out;
    padding: 0;
}

.add-wrap>*>div {
    padding: 15px;
}

.date input {
    margin-left: 10px;
    width: 50%;
    text-align: center;
}

.add-wrap .btn-group {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}

.add-wrap .btn-group>label {
    flex: 1;
}

.add-wrap .controls {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 15px;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
}

.add-wrap .staff-member {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 5px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.add-wrap .staff-member:last-child {
    border-bottom: 0;
}

.pod-assignment, .mod-check {
    margin: 10px;
    padding: 5px;

    display: inline-block;

    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;

    background-color: paleturquoise;
}

.pod-assignment.attention, .mod-check.attention {
    background-color: palegoldenrod;
}

.pod-assignment.active-pod, .mod-check.active-mod {
    background-color: palegreen;
}

/* for radio buttons */

.add-wrap input[type="radio"] {
    display: none;
    cursor: pointer;
    
}

.add-wrap input[type="radio"]+label {
    cursor: pointer;
    user-select: none;
    margin: 0;
}


.add-wrap input[type="radio"]+label span {
    position: relative;
    top: -2px;

    display: inline-block;
    width: 19px;
    height: 19px;
    vertical-align: middle;
    cursor: pointer;

    border: 1px solid rgba(0, 0, 0, 0.4);
    background-color: whitesmoke;

    margin-right: 5px;
}

.add-wrap input[type="radio"]+label span:before {
    position: relative;
    left: 6px;
    top: -5px;
    content: '-';
    font-weight: 700;
    color: blue;
}

.add-wrap input[type="radio"]:checked+label span:before {
    content: '✓';
    color: green;
    top: -4px;
    left: 3px;
}

/* For checkboxes */

.add-wrap input[type="checkbox"] {
    display: none;
    cursor: pointer;
    
}

.add-wrap input[type="checkbox"]+label {
    cursor: pointer;
    user-select: none;
    margin: 0;
}

.add-wrap input[type="checkbox"]+label span {
    position: relative;
    top: -2px;

    display: inline-block;
    width: 19px;
    height: 19px;
    vertical-align: middle;
    cursor: pointer;

    border: 1px solid rgba(0, 0, 0, 0.4);
    background-color: whitesmoke;

    margin-right: 5px;
}

.add-wrap input[type="checkbox"]+label span:before {
    position: relative;
    left: 2px;
    top: -5px;
    content: '✗';
    font-weight: 700;
    color: red;
}

.add-wrap input[type="checkbox"]:checked+label span:before {
    content: '✓';
    color: green;
    top: -4px;
    left: 3px;
}

.summary {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.summary > a {
    flex:1;
    padding: 10px;
}

.summary>a:nth-child(2) {
    margin: 0 10px;
}

.add-wrap .header {
    padding: 10px;
}