.add-container {
    transition: height 250ms ease-in-out;
    padding: 0;
}

.add-wrap > * > div {
    padding: 15px;
}

.date input {
    margin-left: 10px;
    width: 50%;
    text-align: center;
}

.add-wrap .btn-group {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 15px;
}

.add-wrap .btn-group > label {
    flex: 1;
}

.add-wrap .controls {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    
    padding: 15px;

    border-top: 1px solid rgba(0, 0, 0, 0.2);
}