.admin-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.admin-buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;

    width: 50vw;
}

.admin-buttons .btn {
    margin: 10px;
}

@media only screen and (max-width: 500px) {
    .admin-buttons {
        width: 100%;
    }
}

.admin-container input:invalid, .admin-container input.invalid {
    border-bottom: 2px solid firebrick;
}

.admin-container input:valid:not(.indeterminate):not(.invalid), .admin-container input.valid {
    border-bottom: 2px solid green;
}

.admin-container input.indeterminate {
    border-bottom: 2px solid goldenrod;
}