:root {
    --main-background-color: white;
}

html {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

html,
body {
    height: 100%;
}

body {
    background-color: var(--main-background-color);
}

nav {
    margin-bottom: 15px;
    border-radius: 0 0 5px 5px;
}

.closable {
    display: none;
    height: 0;
    overflow: hidden;
    transition: height 350ms ease-in-out;
}

.closable.not-closed {
    display: block;
    height: auto;
}