:root {
    --main-background-color: white;
}

html {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

html,
body {
    height: 100%;
}

body {
    background-color: var(--main-background-color);
}

nav {
    margin-bottom: 15px;
    border-radius: 0 0 5px 5px;
}

.closable {
    display: block;
    opacity: 0;
    height: 0;
    overflow: hidden;
    transition: all 300ms linear;
}

.closable.not-closed {
    opacity: 1;
    height: auto;
}

.closable.closing {
    height: auto;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
}