.button-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.button-container .btn {
    width: 75%;
}

.control-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.control-container .btn {
    width: 20%;
}

@media only screen and (max-width: 767px) {
    .control-container .btn {
        width: 120px;
    }
}

.date label {
    display: block;
}

.date input[type=date] {
    width: 100%;
    text-align: center;
}

.staff-search-suggestions {
    width: 70vw;
    position: absolute;

    z-index: 2;
}

.staff-search-suggestions li {
      background:white;
      list-style: none;
      border-bottom: 1px solid #D8D8D8;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.14);
      width: 100%;
      margin: 0 auto;
      padding:20px;

      text-align: left;
      text-transform: capitalize;
      transition: all 0.2s linear;
}

.staff-search-suggestions.active li:nth-child(-n+2) {
      display: none;
}

.staff-search-suggestions li:hover {
    background-color: #8ee0ff;
}

.search-hl {
  background:#ffc600;
}
