.button-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.button-container .btn {
    width: 75%;
}

.control-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.control-container .btn {
    width: 20%;
}

@media only screen and (max-width: 767px) {
    .control-container .btn {
        width: 120px;
    }
}

.date label {
    display: block;
}

.date input[type=date] {
    width: 100%;
    text-align: center;
}