.staff__item > span {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
    height: 30px;
}

.staff__item > span a {
    align-self: flex-start;
}

.staff__item form {
    display: flex;
    justify-content: flex-end;
}

.staff__item form > select {
    flex: 1;
    display: inline-block;
    border: 1 solid rgba(0, 0, 0, 0.2);
    height: 30px;
    border-radius: 5px;
    margin: 2px;
}

.staff__item .hidden {
    display: none;
}

.staff__edit-toggle {
    height: 20px;
    width: 20px;
    font-size: 14px;
    padding: 2px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.staff__btn {
    display: inline-block;
    border: 0;
    height: 30px;
    width: 30px;
    margin: 2px;
    border-radius: 5px;
}

select option[disabled] {
    font-style: italic;
}

.stat__item {
    margin: 2px 0;
}

.stat__item > p {
    background: #ffd6c5;
    margin: 0;
    padding: 0;
    width: 0;
    overflow-x: visible;
    white-space: nowrap;
    transition: width 2s ease-in-out;
}

.shift-edit__form > div {
    margin: 10px 5px;
}

.shift-edit__controls {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.shift-edit__mods {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.shift-edit__mods label {
    padding: 0;
    margin: 0;
}

.shift-edit__select {
    display: block;

    width: 95%;

    margin: 4px auto;
    padding: 5px;

    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.shift-edit__mod {
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 4px 6px;
    margin: 2px;
    background-color: seashell;
}

.shift-edit-row>td {
    padding: 0;
}

.shift-edit-container.hidden {
    display: none;
    height: 0;
}

.shift-edit-container {
    display: block;
    height: auto;
    overflow: hidden;
    transition: height 350ms ease-in-out;
    background-color: #dddddd;
    padding: 0 5px;

    box-shadow: 
        inset 0px 11px 8px -10px rgba(0, 0, 0, 0.2),
        inset 0px -11px 8px -10px rgba(0, 0, 0, 0.2); 
}

.deleted {
    color: black !important;
    background-color: black !important;
    pointer-events: none;
    cursor: default;
    text-decoration:none;
    transition: all 100ms ease-in-out;
}