
<tr class="shift-edit-row">
    <td colspan="4">
        <div class="shift-edit-container hidden">
            <form>
                <div>
                    Assignment:
                </div>
                <div>
                    Role:
                </div>
                <div>
                    Mods:
                </div>
                <div>
                    Delete / Save
                </div>
            </form>
        </div>
    </td>
</tr>