<form class="add-staff">
    <div class="name">
        <div class="first">

        </div>
        <div class="last">

        </div>
    </div>
    <div class="category">

    </div>
    <div class="controls">

    </div>
</form>