<tr class="shift-edit-row">
    <td colspan="4">
        <div class="shift-edit-container hidden">
            <h2>Error</h2>
            <p>There was an error displaying this shift's information.</p>
        </div>
    </td>
</tr>